<%- include("layout/topbar.ejs") %>
<h1>Estudiantes</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/estudiante/update/<%= estudiantes.idestudiante %>" method="POST">
          <input type="text" name="nombre" value="<%= estudiantes.nombre %>" placeholder="nombre" class="form-control mb-3" autofocus />
          <input type="text" name="apellido" value="<%= estudiantes.apellido%>" placeholder="apellido" class="form-control mb-3" />
          <input type="text" name="carrera" value="<%= estudiantes.carrera%>" placeholder="carrera" class="form-control mb-3" />
          <input type="text" name="facultad" value="<%= estudiantes.facultad%>" placeholder="facultad" class="form-control mb-3" />
          <input type="text" name="estado" value="<%= estudiantes.estado%>" placeholder="estado" class="form-control mb-3" />

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
